<%= l(:current_value, value: update_due_date.days, scope: :auto_due_date) %>

<span class="float-right">
  <%= link_to(l(:edit_link, scope: :auto_due_date), edit_project_update_due_date_path(project)) %>

  <span>|</span>

  <%= link_to(l(:delete_link, scope: :auto_due_date), project_update_due_date_path(project), method: :delete) %>
</span>